    .navbar-brand img {
        width: 150px;
        height: 70px;
    }
    
    .nav-link {
        padding: 1.5rem 1rem;
        font-weight: 700;
        margin-right: 20px;
        font-size: 15px;
        display: block;
    }
    
    .color-bg {
        background-color: #fff;
        border-radius: 10px;
    }
    
    .buy-now-button {
        text-decoration: none;
        color: #fff;
        background-color: #000;
        padding: 10px 20px;
        border-radius: 5px;
    }
    
    .slider-part {
        padding: 10px 30px;
    }
    
    .slider-part p {
        margin-bottom: 30px;
    }
    
    .carousel-indicators li {
        background-color: #086140e3;
        padding: 2px 4px;
        border-radius: 1px;
    }
    
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }
    
    .container {
        margin-bottom: 50px;
    }
    
    .margin-bottom {
        margin-bottom: 30px;
    }
    
    .see-all {
        color: orange;
    }
    
    .card {
        border: none;
        box-shadow: 1px 1px 10px gray;
        padding: 10px 10px;
        border-radius: 10px;
    }
    
    .card img {}
    
    .card-body {
        text-align: center;
    }
    
    .card-footer {
        border-top: none;
        background-color: #fff;
        text-align: center;
    }
    
    .card-text {
        font-size: 12px;
    }
    
    .footer-part {
        margin-bottom: 60px;
        margin-top: 150px;
    }
    
    .card-title {
        text-align: center;
        margin-top: 20px;
    }
    
    .cat1 {
        margin-top: 50px;
        border-radius: 0px 10px 0px 10px;
    }
    
    .cat2 {
        margin-bottom: 40px;
    }
    
    .cat1,
    .cat2,
    .cat3 {
        box-shadow: 1px 1px 100px lightblue;
    }
    
    .cat2,
    .cat3 {
        border-radius: 10px 0px 10px 0px;
    }